<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- APPENDER: console -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] - %m%n" />
		</layout>
	</appender>

	<!-- APPENDER: dailyRollingFile -->
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/apps/tdg.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p:%L %c - %m%n" />
		</layout>
	</appender>

	<logger name="nl.h2">
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFile" />
	</logger>

</log4j:configuration>